.container {
  padding: 24px;
}

.search-container {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.full-width-table {
  width: 100%;
  overflow-x: auto;
}

.example-button-row-list{
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
}